<h1>let's find a walk for you</h1>

<form action="">

   
  <p>will there be a dog joining you?</p>
 <input type="radio" id="yes" name="dog" value="yes">
  <label for="yes">yes</label><br>
  <input type="radio" id="no" name="dog" value="no">
  <label for="no">no</label><br>
<br>
  <label for="length">how many km:</label>
  <select id="length" name="length">
    <option value="0-4km">0-4km</option>
    <option value="4-8km">4-8km</option>
    <option value="8+km">8+km</option>
  </select>
  <br>
  <br>
  <label for="duration">walking time:</label>
  <select id="duration" name="duration">
    <option value="0-1hrs">0-1hrs</option>
    <option value="1-2hrs">1-2hrs</option>
    <option value="2-3hrs">2-3hrs</option>
    <option value="3+hrs">3+hrs</option>
  </select>
  <br>
  <br>

  <label for="difficulty">difficulty:</label>
  <select id="difficulty" name="difficulty">
    <option value="easy">easy</option>
    <option value="intermediate">intermediate</option>
    <option value="hard">hard</option>
  </select>
  <br>
  <br>
  <input type="submit" value="Submit">


</form>