<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="main.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

  <title>Home</title>
</head>

<body>
  <div>
    <img id="logo" src="walk_logo.svg">
  </div>
  {{!-- empty div below --}}
  <div></div>
  {{!-- empty div above --}}
  
  <hr>
  {{!-- div regions wrapper --}}
  <div class="regionWrapper">
    <div class="column">
      <div class="card"><a href="Wellington City">Wellington City</a>
      </div>
    </div>

    <span></span>
    <div class="column">
      <div class="card"><a href="Porirua">Porirua</a></div>
    </div>

    <span></span>
    <div class="column">
      <div class="card">
        <a href="UpperHutt"> UpperHutt</a>
      </div>
    </div>

    <span></span>
    <div class="column">
      <div class="card">
        <a href="Eastbourne">Eastbourne
        </a>
      </div>
    </div>
  </div>
</body>