
<body>
  
{{!-- regions wrapper --}}
<div class=regions>
  <div>
    <a href="Wellington-City">Wellington City</a>
  </div>
  <span></span>
  <div>
    <a href="Porirua">Porirua</a>
  </div>
  <span></span>
  <div>
    <a href="UpperHutt"> UpperHutt</a>
  </div>
  <span></span>
  <div>
    <a>Eastbourne
    </a>
  </div>
</div>
</body>