<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="main.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

  <title>Home</title>
</head>

<body>
  <div>
    <img id=logo src="walk_logo.svg">
  </div>
{{!-- regions wrapper --}}
<div class=regions>
  <div>
    <a href="Wellington-City">Wellington City</a>
  </div>
  <span></span>
  <div>
    <a href="Porirua">Porirua</a>
  </div>
  <span></span>
  <div>
    <a href="UpperHutt"> UpperHutt</a>
  </div>
  <span></span>
  <div>
    <a>Eastbourne
    </a>
  </div>
</div>
</body>