<body>

  {{!-- empty div above --}}

  <hr>
  {{!-- div regions wrapper --}}
  <div class="regionWrapper">
    <div class="regionSelect">Select your region</div>
    <div class="column">
      <div class="card" id="WellingtonCity">
        <a href="Wellington-City">Wellington City</a>
      </div>
    </div>

    <div class="column">
      <div class="card" id="Porirua">
        <a href="Porirua">Porirua</a>
      </div>
    </div>

    <div class="column">
      <div class="card" id="UpperHutt">
        <a href="UpperHutt"> Upper Hutt</a>
      </div>
    </div>

    <div class="column">
      <div class="card" id="Eastbourne">
        <a href="Eastbourne">Eastbourne
        </a>
      </div>
    </div>
  </div>
</body>