
a {
  font-weight: 500;
  font-size: x-large;
  text-decoration: none;
  color: #1a1c20;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.card {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f4f4f4;
}

/* logo */
#logo {
  width: 15%;
  height: auto;
  align-content: center;
  padding-bottom: 50px;
}

